{% extends "base.html" %}
{% block content %}

<h2 style="color: blue;">Course List</h2>

<!-- code to display list of courses-->
<table>
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Map diagram</th>
    </tr>
    {% for course in course_list %}
        <tr>
            <td>{{ course[0] }}</td> <!-- Assuming course_id is the first field in the course tuple -->
            <td>{{ course[1] }}</td> <!-- Assuming name is the second field in the course tuple -->
            <td><img src="{{ url_for('static', filename=course[2]) }}" alt="{{ course[1] }}" style="max-width: 100px;"></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
