{% extends "base.html" %}
{% block content %}

<h2>Driver List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Car Model</th>
            <th>Drive Class</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in driver_list %}
        <tr {% if driver[6] and driver[5] and driver[5] <= 25 and driver[5] >= 12 %}class="table-warning"{% endif %}>
            <!-- Make the driver name a clickable link -->
            <td><a href="/driverrundetail?driverid={{driver[0]}}">{{ driver[2] }} {{ driver[1] }}</a></td>
            <td>{{ driver[3] }}</td>
            <td>{{ driver[4] }}</td>
        </tr>
    {% endfor %}
    

    </tbody>
</table>

{% endblock %}
