{% extends "adminmain.html" %}

{% block content %}

<h3>Junior Drivers</h3>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Caregiver Name</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver[0]}}</td>
                <td>{{ driver[1] }}</td>
                <td>{{ driver[2] }}</td>
                <td>{{ driver[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
