{% extends "base.html" %}
{% block content %}

<h1 style="color: blue;">Overall Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>Driver ID</th>
            <th>Name</th>
            <th>Car Model</th>
            <th>Course A Time</th>
            <th>Course B Time</th>
            <th>Course C Time</th>
            <th>Course D Time</th>
            <th>Course E Time</th>
            <th>Course F Time</th>
            <th>Total Time</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr {% if '(J)' in result[1] %}class="table-warning"{% endif %}>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }} {{ result[2] }}</td>
                <td>{{ result[3] }}</td>
                <td>{{ result[4] }}</td>
                <td>{{ result[5] }}</td>
                <td>{{ result[6] }}</td>
                <td>{{ result[7] }}</td>
                <td>{{ result[8] }}</td>
                <td>{{ result[9] }}</td>
                <td>{{ result[10] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
